<div class="role-detail">
  <div class="page-header" style="margin-bottom: 24px;">
    <button nz-button nzType="default" routerLink="/roles" style="margin-right: 16px;">
      <i nz-icon nzType="arrow-left"></i> Back
    </button>
    <h1>{{ isEditMode ? 'Edit Role' : 'Create Role' }}</h1>
  </div>

  <nz-card [nzLoading]="loading">
    <form nz-form [formGroup]="roleForm" (ngSubmit)="save()">
      <nz-form-item>
        <nz-form-label [nzSpan]="4" nzRequired>Role Name</nz-form-label>
        <nz-form-control [nzSpan]="14" nzErrorTip="Please input role name!">
          <input nz-input formControlName="name" placeholder="e.g. Administrator" />
        </nz-form-control>
      </nz-form-item>

      <nz-form-item>
        <nz-form-label [nzSpan]="4">Description</nz-form-label>
        <nz-form-control [nzSpan]="14">
          <textarea nz-input formControlName="description" placeholder="Role description..." [nzAutosize]="{ minRows: 2, maxRows: 6 }"></textarea>
        </nz-form-control>
      </nz-form-item>

      <nz-form-item>
        <nz-form-label [nzSpan]="4">Permissions</nz-form-label>
        <nz-form-control [nzSpan]="14">
          <nz-select formControlName="permissionIds" nzMode="multiple" nzPlaceHolder="Select permissions">
            <nz-option *ngFor="let p of allPermissions" [nzValue]="p.id" [nzLabel]="p.module + ':' + p.action"></nz-option>
          </nz-select>
        </nz-form-control>
      </nz-form-item>

      <nz-form-item>
        <nz-form-control [nzOffset]="4" [nzSpan]="14">
          <button nz-button nzType="primary" [nzLoading]="saving" [disabled]="!roleForm.valid">
            {{ isEditMode ? 'Update' : 'Create' }}
          </button>
          <button nz-button nzType="default" type="button" routerLink="/roles" style="margin-left: 8px;">Cancel</button>
        </nz-form-control>
      </nz-form-item>
    </form>
  </nz-card>
</div>
