<div class="warehouse-detail">
  <div class="page-header">
    <app-button type="default" routerLink="/inventory/warehouses" icon="arrow-left">
      Back to List
    </app-button>
    <h1 nz-typography>{{ isEditMode ? 'Edit Warehouse' : 'Create Warehouse' }}</h1>
  </div>

  <nz-card [nzLoading]="loading">
    <form nz-form [formGroup]="warehouseForm" (ngSubmit)="save()" nzLayout="vertical">
      <div nz-row [nzGutter]="16">
        <div nz-col [nzSpan]="24">
          <nz-form-item>
            <nz-form-label nzRequired>Warehouse Name</nz-form-label>
            <nz-form-control nzErrorTip="Please input warehouse name!">
              <app-input formControlName="name" placeholder="e.g. Main Warehouse"></app-input>
            </nz-form-control>
          </nz-form-item>
        </div>
      </div>

      <div nz-row [nzGutter]="16">
        <div nz-col [nzSpan]="24">
          <nz-form-item>
            <nz-form-label>Location/Address</nz-form-label>
            <nz-form-control>
              <app-input formControlName="location" placeholder="e.g. 123 Industrial Rd, City"></app-input>
            </nz-form-control>
          </nz-form-item>
        </div>
      </div>

      <div class="form-actions">
        <app-button type="primary" [loading]="saving" [disabled]="!warehouseForm.valid" btnType="submit">
          {{ isEditMode ? 'Update' : 'Create' }}
        </app-button>
        <app-button type="default" routerLink="/inventory/warehouses">Cancel</app-button>
      </div>
    </form>
  </nz-card>
</div>
