.page-header {
  margin-bottom: 24px;
  display: flex;
  align-items: center;
}

.back-button {
  margin-right: 16px;
}

.page-header h1 {
  display: inline-block;
  margin: 0;
  vertical-align: middle;
}

.cancel-button {
  margin-left: 8px;
}
