@if (permissions$ | async; as p) {
<div class="customers-list">
  <div class="page-header">
    <h1 nz-typography>Customers Management</h1>
    <div class="header-actions">
      @if (p.canExport) {
        <app-button icon="file-excel" (click)="exportToXlsx('customers.xlsx')">
          Export XLSX
        </app-button>
      }
      @if (p.canExport) {
        <app-button icon="file-pdf" (click)="exportToPdf('customers.pdf')">
          Export PDF
        </app-button>
      }

      @if (p.canCreate) {
        <app-button type="primary" icon="plus" routerLink="/sales/customers/new">
          Add Customer
        </app-button>
      }
    </div>
  </div>

  <div class="list-search">
    <!--<span class="list-search__label">Search</span>-->
    <nz-space-compact nzSize="large" class="list-search__compact">
      <app-input
        placeholder="By name or email..."
        [(ngModel)]="searchTerm"
        (ngModelChange)="onSearch()"
      ></app-input>
    </nz-space-compact>
  </div>

  <nz-table
    #customersTable
    [nzData]="customers"
    [nzLoading]="loading"
    [nzPageSize]="pageSize"
    [nzPageIndex]="pageIndex"
    [nzTotal]="total"
    [nzFrontPagination]="false"
    (nzPageIndexChange)="onPageChange($event)"
    (nzPageSizeChange)="onPageSizeChange($event)"
    [nzScroll]="{ x: '1200px' }"
  >
    <thead>
      <tr>
        <th id="th-name" scope="col">Name</th>
        <th id="th-email" scope="col">Email</th>
        <th id="th-address" scope="col">Address</th>
        @if (p.canUpdate || p.canDelete) {
          <th id="th-actions" scope="col" nzWidth="150px">Actions</th>
        }
      </tr>
    </thead>
    <tbody>
      @for (customer of customersTable.data; track customer.id) {
        <tr>
          <td><strong>{{ customer.name }}</strong></td>
          <td>{{ customer.email || '-' }}</td>
          <td>{{ customer.address || '-' }}</td>
          @if (p.canUpdate || p.canDelete) {
            <td>
              <nz-space [nzSize]="8">
                @if (p.canUpdate) {
                  <app-button
                    *nzSpaceItem
                    type="link"
                    icon="edit"
                    nz-tooltip
                    nzTooltipTitle="Edit customer"
                    [routerLink]="['/sales/customers', customer.id]"
                  ></app-button>
                }
                @if (p.canDelete) {
                  <app-button
                    *nzSpaceItem
                    type="link"
                    danger
                    icon="delete"
                    nz-tooltip
                    nzTooltipTitle="Delete customer"
                    nz-popconfirm
                    nzPopconfirmTitle="Are you sure delete this customer?"
                    (nzOnConfirm)="deleteCustomer(customer)"
                    nzPopconfirmPlacement="left"
                  ></app-button>
                }
              </nz-space>
            </td>
          }
        </tr>
      }
    </tbody>
  </nz-table>
</div>
}
