<div class="product-detail">
  <div class="page-header">
    <app-button type="default" routerLink="/inventory/products" icon="arrow-left">
      Back to List
    </app-button>
    <h1 nz-typography>{{ isEditMode ? 'Edit Product' : 'Create Product' }}</h1>
  </div>

  <nz-card [nzLoading]="loading">
    <form nz-form [formGroup]="productForm" (ngSubmit)="save()">
      <div nz-row [nzGutter]="16">
        <div nz-col [nzXs]="24" [nzSm]="12">
          <nz-form-item>
            <nz-form-label nzRequired>SKU</nz-form-label>
            <nz-form-control nzErrorTip="Please input SKU!">
              <app-input formControlName="sku" placeholder="SKU"></app-input>
            </nz-form-control>
          </nz-form-item>
        </div>
        <div nz-col [nzXs]="24" [nzSm]="12">
          <nz-form-item>
            <nz-form-label nzRequired>Name</nz-form-label>
            <nz-form-control nzErrorTip="Please input product name!">
              <app-input formControlName="name" placeholder="Product Name"></app-input>
            </nz-form-control>
          </nz-form-item>
        </div>
      </div>

      <nz-form-item>
        <nz-form-label>Description</nz-form-label>
        <nz-form-control>
          <app-textarea formControlName="description" placeholder="Product Description"></app-textarea>
        </nz-form-control>
      </nz-form-item>

      <div nz-row [nzGutter]="16">
        <div nz-col [nzSpan]="24">
          <nz-form-item>
            <nz-form-label nzRequired>Unit Price</nz-form-label>
            <nz-form-control nzErrorTip="Please input unit price!">
              <app-input-number formControlName="unitPrice" [min]="0" [step]="0.01" class="full-width-input"></app-input-number>
            </nz-form-control>
          </nz-form-item>
        </div>
      </div>

      <div nz-row [nzGutter]="16">
        <div nz-col [nzXs]="24" [nzSm]="12">
          <nz-form-item>
            <nz-form-label nzRequired>Initial Stock</nz-form-label>
            <nz-form-control nzErrorTip="Please input initial stock!">
              <app-input-number formControlName="quantityInStock" [min]="0" [precision]="0" class="full-width-input"></app-input-number>
            </nz-form-control>
          </nz-form-item>
        </div>
        <div nz-col [nzXs]="24" [nzSm]="12">
          <nz-form-item>
            <nz-form-label>Reorder Level</nz-form-label>
            <nz-form-control>
              <app-input-number formControlName="reorderLevel" [min]="0" [precision]="0" class="full-width-input"></app-input-number>
            </nz-form-control>
          </nz-form-item>
        </div>
      </div>

      <div class="form-actions">
        <app-button type="primary" [loading]="saving" [disabled]="!productForm.valid" btnType="submit">
          {{ isEditMode ? 'Update' : 'Create' }}
        </app-button>
        <app-button type="default" routerLink="/inventory/products">Cancel</app-button>
      </div>
    </form>
  </nz-card>
</div>
