<div class="register-container">
  <nz-card class="register-card" nzTitle="Create Account">
    <form nz-form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
      <nz-form-item>
        <nz-form-label nzRequired>Username</nz-form-label>
        <nz-form-control nzErrorTip="Please input your username!">
          <input nz-input formControlName="username" placeholder="Username" />
        </nz-form-control>
      </nz-form-item>

      <nz-form-item>
        <nz-form-label nzRequired>Email</nz-form-label>
        <nz-form-control nzErrorTip="Please input a valid email!">
          <input nz-input formControlName="email" type="email" placeholder="Email" />
        </nz-form-control>
      </nz-form-item>

      <nz-form-item>
        <nz-form-label>First Name</nz-form-label>
        <nz-form-control>
          <input nz-input formControlName="firstName" placeholder="First Name" />
        </nz-form-control>
      </nz-form-item>

      <nz-form-item>
        <nz-form-label>Last Name</nz-form-label>
        <nz-form-control>
          <input nz-input formControlName="lastName" placeholder="Last Name" />
        </nz-form-control>
      </nz-form-item>

      <nz-form-item>
        <nz-form-label nzRequired>Password</nz-form-label>
        <nz-form-control nzErrorTip="Please input your password!">
          <input nz-input formControlName="password" type="password" placeholder="Password" />
        </nz-form-control>
      </nz-form-item>

      <nz-form-item>
        <nz-form-label nzRequired>Confirm Password</nz-form-label>
        <nz-form-control nzErrorTip="Passwords do not match!">
          <input nz-input formControlName="passwordConfirm" type="password" placeholder="Confirm Password" />
        </nz-form-control>
      </nz-form-item>

      <nz-form-item>
        <button nz-button nzType="primary" nzBlock type="submit" [nzLoading]="isLoading" [disabled]="!registerForm.valid">
          Register
        </button>
      </nz-form-item>

      <div class="login-link">
        Already have an account? <a routerLink="/login">Login here</a>
      </div>
    </form>
  </nz-card>
</div>
