<div class="profile-container">
  <div class="page-header">
    <h1 nz-typography>User Profile</h1>
  </div>

  <div nz-row [nzGutter]="24">
    <div nz-col [nzSpan]="8">
      <nz-card class="avatar-card">
        <nz-avatar [nzSize]="128" nzIcon="user"></nz-avatar>
        <h2 class="avatar-title">{{ currentUser?.username }}</h2>
        <p>{{ currentUser?.email }}</p>
        <div class="roles-container">
          @for (role of currentUser?.roles || []; track role.id) {
            <nz-tag [nzColor]="'blue'">{{ role.name }}</nz-tag>
          }
        </div>
      </nz-card>
    </div>

    <div nz-col [nzSpan]="16">
      <nz-card nzTitle="Personal Information">
        <form nz-form [formGroup]="profileForm" (ngSubmit)="updateProfile()">
          <nz-form-item>
            <nz-form-label [nzSpan]="6">Username</nz-form-label>
            <nz-form-control [nzSpan]="18">
              <input nz-input formControlName="username" readonly />
            </nz-form-control>
          </nz-form-item>

          <nz-form-item>
            <nz-form-label [nzSpan]="6" nzRequired>Email</nz-form-label>
            <nz-form-control [nzSpan]="18" nzErrorTip="Please input a valid email!">
              <input nz-input formControlName="email" type="email" />
            </nz-form-control>
          </nz-form-item>

          <nz-form-item>
            <nz-form-label [nzSpan]="6">First Name</nz-form-label>
            <nz-form-control [nzSpan]="18">
              <input nz-input formControlName="firstName" />
            </nz-form-control>
          </nz-form-item>

          <nz-form-item>
            <nz-form-label [nzSpan]="6">Last Name</nz-form-label>
            <nz-form-control [nzSpan]="18">
              <input nz-input formControlName="lastName" />
            </nz-form-control>
          </nz-form-item>

          <nz-form-item>
            <nz-form-control [nzOffset]="6" [nzSpan]="18">
              <button nz-button nzType="primary" [nzLoading]="saving" [disabled]="!profileForm.valid">
                Save Changes
              </button>
            </nz-form-control>
          </nz-form-item>
        </form>
      </nz-card>

      <nz-card nzTitle="Security" class="security-card">
        <form nz-form [formGroup]="passwordForm" (ngSubmit)="changePassword()">
          <nz-form-item>
            <nz-form-label [nzSpan]="6" nzRequired>New Password</nz-form-label>
            <nz-form-control [nzSpan]="18">
              <input nz-input type="password" formControlName="password" />
            </nz-form-control>
          </nz-form-item>
          <nz-form-item>
            <nz-form-control [nzOffset]="6" [nzSpan]="18">
              <button nz-button nzType="default" [nzLoading]="updatingPassword" [disabled]="!passwordForm.valid">
                Change Password
              </button>
            </nz-form-control>
          </nz-form-item>
        </form>
      </nz-card>
    </div>
  </div>
</div>
