<nz-sider nzCollapsible [(nzCollapsed)]="isCollapsed" [nzWidth]="250" nzBreakpoint="lg" [nzCollapsedWidth]="80" class="sidebar">
  <div class="logo">
    @if (!isCollapsed) {
      <h2>ERP Admin</h2>
    }
    @if (isCollapsed) {
      <span nz-icon nzType="appstore"></span>
    }
  </div>
  <ul nz-menu nzTheme="dark" nzMode="inline">
    @for (item of visibleNavItems(); track item.href) {
      <li nz-menu-item [routerLink]="item.href" routerLinkActive="ant-menu-item-selected">
        <span nz-icon [nzType]="item.icon"></span>
        <span>{{ item.title }}</span>
      </li>
    }
  </ul>
</nz-sider>
