<nz-sider nzCollapsible [(nzCollapsed)]="isCollapsed" nzWidth="250px" class="sidebar">
  <div class="logo">
    <h2 *ngIf="!isCollapsed">ERP Admin</h2>
    <span *ngIf="isCollapsed" nz-icon nzType="appstore"></span>
  </div>
  <ul nz-menu nzTheme="dark" nzMode="inline">
    <li nz-menu-item routerLink="/users" routerLinkActive="ant-menu-item-selected">
      <span nz-icon nzType="user"></span>
      <span>Users</span>
    </li>
    <li nz-menu-item routerLink="/roles" routerLinkActive="ant-menu-item-selected">
      <span nz-icon nzType="safety-certificate"></span>
      <span>Roles</span>
    </li>
    <li nz-menu-item routerLink="/permissions" routerLinkActive="ant-menu-item-selected">
      <span nz-icon nzType="key"></span>
      <span>Permissions</span>
    </li>
    <li nz-menu-item routerLink="/inventory/products" routerLinkActive="ant-menu-item-selected">
      <span nz-icon nzType="inbox"></span>
      <span>Products</span>
    </li>
    <li nz-menu-item routerLink="/inventory/warehouses" routerLinkActive="ant-menu-item-selected">
      <span nz-icon nzType="home"></span>
      <span>Warehouses</span>
    </li>
    <li nz-menu-item routerLink="/sales/customers" routerLinkActive="ant-menu-item-selected">
      <span nz-icon nzType="dollar"></span>
      <span>Customers</span>
    </li>
    <li nz-menu-item routerLink="/sales/orders" routerLinkActive="ant-menu-item-selected">
      <span nz-icon nzType="shopping-cart"></span>
      <span>Sales Orders</span>
    </li>
    <li nz-menu-item routerLink="/purchasing/orders" routerLinkActive="ant-menu-item-selected">
      <span nz-icon nzType="shopping"></span>
      <span>Purchase Orders</span>
    </li>
    <li nz-menu-item routerLink="/inventory/warehouse-stocks" routerLinkActive="ant-menu-item-selected">
      <span nz-icon nzType="line-chart"></span>
      <span>Warehouse Stocks</span>
    </li>
    <li nz-menu-item routerLink="/inventory/transactions" routerLinkActive="ant-menu-item-selected">
      <span nz-icon nzType="file-text"></span>
      <span>Transactions</span>
    </li>
    <li nz-menu-item routerLink="/inventory/stock-operations" routerLinkActive="ant-menu-item-selected">
      <span nz-icon nzType="sync"></span>
      <span>Stock Operations</span>
    </li>
    <li nz-menu-item routerLink="/orders" routerLinkActive="ant-menu-item-selected">
      <span nz-icon nzType="ordered-list"></span>
      <span>Orders</span>
    </li>
  </ul>
</nz-sider>
