<div class="products-list">
  <div class="page-header">
    <h1>Products Management</h1>
    <button nz-button nzType="primary" routerLink="/inventory/products/new">
      <span nz-icon nzType="plus"></span>
      Add Product
    </button>
  </div>

  <div class="search-bar">
    <nz-input-group [nzSuffix]="suffixIconSearch">
      <input 
        type="text" 
        nz-input 
        placeholder="Search products..." 
        [(ngModel)]="searchText"
        (ngModelChange)="onSearch()"
      />
    </nz-input-group>
    <ng-template #suffixIconSearch>
      <span nz-icon nzType="search"></span>
    </ng-template>
  </div>

  <nz-table
    #productsTable
    [nzData]="products"
    [nzLoading]="loading"
    [nzPageSize]="pageSize"
    [nzPageIndex]="pageIndex"
    [nzTotal]="total"
    [nzFrontPagination]="false"
    (nzPageIndexChange)="onPageChange($event)"
    (nzPageSizeChange)="onPageSizeChange($event)"
  >
    <thead>
      <tr>
        <th>SKU</th>
        <th>Name</th>
        <th>Unit Price</th>
        <th>Stock</th>
        <th nzWidth="150px">Actions</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let product of productsTable.data">
        <td><strong>{{ product.sku }}</strong></td>
        <td>{{ product.name }}</td>
        <td>${{ product.unitPrice.toFixed(2) }}</td>
        <td>
          <nz-tag [nzColor]="product.quantityInStock <= product.reorderLevel ? 'red' : 'green'">
            {{ product.quantityInStock }}
          </nz-tag>
        </td>
        <td>
          <button 
            nz-button 
            nzType="link" 
            nzSize="small"
            [routerLink]="['/inventory/products', product.id]"
          >
            <span nz-icon nzType="edit"></span>
            Edit
          </button>
          <button 
            nz-button 
            nzType="link" 
            nzSize="small"
            nzDanger
            (click)="deleteProduct(product)"
          >
            <span nz-icon nzType="delete"></span>
            Delete
          </button>
        </td>
      </tr>
    </tbody>
  </nz-table>
</div>
