name: Workflow Lint

on:
  pull_request:
    branches:
      - main
      - develop
  push:
    branches:
      - main

concurrency:
  group: ci-${{ github.workflow }}-${{ github.event.pull_request.number || github.ref }}
  cancel-in-progress: true

jobs:
  lint-workflows:
    name: Lint GitHub workflows
    runs-on: ubuntu-latest
    timeout-minutes: 5
    permissions:
      contents: read
    steps:
      - uses: actions/checkout@34e114876b0b11c390a56381ad16ebd13914f8d5  # v4
      - name: actionlint
        uses: rhysd/actionlint@a0ce74d8cfe85724a6a47c62bc03a6929d7ad6ef  # v1.7.10
